.banner {
    background-color: antiquewhite;
    color:white;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}
#small-gritty {
    height: 100px;
    width: 100px;
}
#gritter{
    color: black;
    font-size: 100px;
}
.bold {
    font-weight: 900;
}
